{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="dictionary-heading center-align">Dictionary</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p class="introductory-para">Welcome to the online fitness dictionary. This dictionary helps the fitness community by defining a number of concepts around training and explaining their meaning in clear terms. As a member of the community, feel free to add your own contributions and update existing definitions to ensure our content is as reliable and accurate as can be.</p>
                {% if not session.user %}
                    <p>In order to contribute to our dictionary, you will need to <a class="register-link" href="{{ url_for ('register') }}">create an account</a>.</p>
                    <p>Existing user&#63; <a class="login-link" href="{{ url_for ('login') }}">Log in</a>.</p>
                {% endif %}
            </div>
        </div>

        {% if terms|length == 0 %}
            {% if session.user %}
                <div class="row">
                    <div class="col-s12">
                        <h2 class="center-align"><strong>No terms have been added to the dictionary yet. Be the first to contribute to our community by adding a definition below.</strong></h2>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="col-s12">
                        <a href="{{ url_for('add_definition') }}" class="btn-large add green">Add term</a>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-s12">
                        <h2 class="center-align"><strong>No terms have been added to the dictionary yet. Please <a href="{{ url_for('register') }}">register an account</a> to contribute to our community.</strong></h2>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col s12">
                    <h3 class="key-terms">Key Terms</h2>
                </div>
            </div>
            <div class="terms-wrapper">
                {% for term in terms %}
                    <div class="term-wrapper">               
                        <div class="row">
                            <div class="col s12 m3 l3">
                                <span class="term-name">{{ term.term_name }}</span>
                            </div>
                            <div class="col s12 m7 l7">
                                <span>{{ term.term_definition }}</span>
                            </div>
                            <div class="col s12 m2 l2">
                                <span><em>Created by&#58; {{ term.created_by }}</em></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4 m8 xl10">
                                <span>Score&#58; {% if term.score >= 20 %}<span class="superscore">{{ term.score }}</span>{% elif term.score < 0 %}<span class="minus-score">{{ term.score }}</span>{% else%}<span class="score">{{ term.score }}</span>{% endif %}</span>
                            </div>
                            {% if session.user %}
                                <div class="col s4 m2 xl1">
                                    <a href="{{ url_for('upvote', term_id=term._id) }}" class="btn upvote green" onclick="confirmUpvote()">
                                        <i class="fas fa-thumbs-up tooltipped" data-tooltip="UPVOTE"></i>
                                    </a>
                                    <div class="upvote-container center-align"></div>
                                </div>
                                <div class="col s4 m2 xl1">
                                    <a href="{{ url_for('downvote', term_id=term._id) }}" class="btn downvote red" onclick="confirmDownvote()">
                                        <i class="fas fa-thumbs-down tooltipped" data-tooltip="DOWNVOTE"></i>
                                    </a>
                                    <div class="downvote-container center-align"></div>
                                </div>
                            {% endif %}
                        </div>
                        {% if session.user|lower == "admin" or session.user|lower == term.created_by|lower %}
                            <div class="row">
                                <div class="col s6">
                                    <a href="{{ url_for('delete_term', term_id=term._id) }}" class="btn-small delete right red">
                                        <span>Delete term</span><i class="fas fa-trash-alt tooltipped" data-tooltip="DELETE TERM"></i>
                                    </a>
                                </div>
                                <div class="col s6">
                                    <a href="{{ url_for('edit_term', term_id=term._id) }}" class="btn-small edit blue">
                                        <span>Edit details</span><i class="fas fa-pen-square tooltipped" data-tooltip="EDIT DETAILS"></i>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if session.user %}
            <div class="row center-align add-entry">
                <div class="col-s12">
                    <a href="{{ url_for('add_definition') }}" class="btn-large add green">Add term</a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}