{% extends "base.html" %}

{% block content %}

    <div class="jumbotron center-align">
        <section class="callout">
            <div class="row">
                <div class="col s12">
                    <h1 class="jumbotron-header">The complete A&#8211;Z of fitness</h1>
                </div>
            </div>
            {% if not session.user %}
                <div class="row btn-wrapper">
                    <div class="col s12">
                        <a href="{{ url_for('register') }}" class="btn-large signup">Sign up now</a>
                    </div>
                </div>
                <div class="row btn-wrapper">
                    <div class="col s12">
                        <a href="#search" class="btn-large search-btn">Search dictionary</a>
                    </div>
                </div>
                <div class="row login-notice-wrapper">
                    <div class="col s12">
                        <span class="login-notice">Already registered? <a href="{{ url_for('login') }}">Log in</a>.</span>
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
    {% if session.user %}
        <h1 class="center-align welcome-heading">Welcome, {{ session.user }}</h1>
    {% endif %}
    <div class="container search-container center-align">
        <div class="row">
            <div class="col s12">
                <a name="search"></a>
                <form method="POST" action="{{ url_for('search') }}">
                    <div class="row">
                        <div class="input-field col s12 m7 l8">
                            <i class="fas fa-search prefix"></i>
                            <input id="query" name="query" type="text" minlength="3">
                            <label for="query">Search</label>
                        </div>
                        <div class="col s12 m5 l4 search-buttons">
                            <a href="{{ url_for('home_page') }}" class="red btn">Reset</a>
                            <button type="submit" class="btn teal">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if session.user %}
        <div class="container contributions-container">
            <div class="row">
                <div class="col s12">
                    <h2 class="contributions-heading center-align">My Recent Contributions</h2>
                </div>
            </div>
            {% for term in terms %}
                {% if term.created_by|lower == session.user|lower %}
                    <div class="row">
                        <div class="col s12 l3">
                            <span class="term-name"><strong>{{ term.term_name }}</strong></span>
                        </div>
                        <div class="col s12 l7">
                            <span>{{ term.term_definition }}</span>
                            <br>
                            <br>
                            <span><em>Last updated&#58; {{ term.created_on }}</em></span>
                        </div>
                        <div class="col s12 l2">
                            <a href="{{ url_for('edit_term', term_id=term._id) }}" class="btn-small blue">
                                <i class="fas fa-edit tooltipped" data-tooltip="EDIT TERM"></i>
                            </a>
                            <a href="{{ url_for('delete_term', term_id=term._id) }}" class="btn-small red">
                                <i class="fas fa-trash-alt tooltipped" data-tooltip="DELETE TERM"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row center-align">
                <div class="col s12">
                    {% set total = [] %}
                    {% for term in terms if session.user|lower == term.created_by|lower %}
                        {% set i = term.contribution_value|int %}
                        {% if total.append(i) %}
                        {% endif %}
                    {% endfor %}
                    <p>
                        {% if total|sum > 0 %}
                            You have made {{ total|sum }} contribution{% if total|sum != 1 %}s{% endif %} so far.
                        {% else %}
                            You haven&#8217;t made any contributions yet. Click below to add your first&#33;
                        {% endif %}
                    </p>
                </div>
            </div>            
            <div class="row center-align add-entry">
                <div class="col-s12">
                    <a href="{{ url_for('add_definition') }}" class="btn-large add green">
                        {% if total|sum > 0 %}
                            Add another&#33;
                        {% else %}
                            Add term
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container maps-container center-align">
            <h1 class="maps-header">Where to Find Us</h1>
            <div class="row">
                <div class="col s12 l4 body-address">
                    <p class="maps-para"><i class="fas fa-map-marker-alt"></i> 93 Crown Street 
                        <br>
                        London
                        <br>
                        SW5 7NL
                    </p>
                    <p class="maps-para"><i class="fas fa-phone-square"></i> &#40;078&#41; 11 033 461</p>
                    <p class="maps-para"><i class="fas fa-at"></i> <a href="#">info&#64;fitipedia.com</a></p>
                    <p class="maps-para"><i class="fas fa-door-open"></i> Open Mon-Sun 6am - midnight</p>
                </div>
                <div class="col s12 l8">
                    <div id="map">

                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}