{% extends "base.html" %}

{% block content %}
    <div class="jumbotron center-align">
        <section class="callout">
            <div class="site-info">
                <h3 class="site-info-heading"><a href="#modal_home" class="modal-trigger">Before you start, Click Here</a></h3>
                <div id="modal_home" class="modal">
                    <div class="modal-header">
                        <a href="{{ url_for('home_page') }}" class="right close"><i class="fas fa-times"></i></a>
                        <p>
                            Fitipedia is an online dictionary that explains fitness jargon.<br>
                            To look for definitions, enter key words in the search bar, e.g. weights.<br>
                            As a registered user, you can add your own entries, as well as update and delete them.<br>
                            Click the thumbs up and thumbs down buttons to upvote or downvote users&#8217; entries.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <div class="center-align">
                            <a href="{{ url_for('home_page') }}" class="btn grey ok">OK, thank you</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <h1 class="jumbotron-header">The complete A&#8211;Z of fitness</h1>
                </div>
            </div>
            <div class="row btn-wrapper">
                <div class="col s12">
                    <a href="#search" class="scroll btn-large search-btn">Search dictionary</a>
                </div>
            </div>
        </section>
    </div>
    <div id="search" class="container search-container center-align">
        {% if session.user %}
            <h1 class="center-align welcome-heading">Welcome, {{ session.user }}</h1>
        {% endif %}
        <div class="row">
            <div class="col s12">
                <form id="search_bar" method="POST" action="{{ url_for('search') }}">
                    <div class="row">
                        <div class="input-field col s12 m7 l8">
                            <i class="fas fa-search prefix"></i>
                            <input id="query" name="query" type="text" minlength="3" required>
                            <label for="query">Search</label>
                        </div>
                        <div class="col s12 m5 l4 search-buttons">
                            <a onclick="resetSearch()" class="red btn">Reset</a>
                            <button type="submit" class="btn teal">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        {% if popular_terms|length >= 3 %}
            <div class="row">
                <div class="col s12">
                    <h2 class="center-align">Our most popular terms</h2>
                </div>
            </div>
            {% for term in popular_terms %}
                {% if loop.index <= 5 %}
                    <div class="term-wrapper card-panel">
                        <div class="row">
                            <div class="col s12">
                                <span class="term-name">{{ term.term_name }}</span>
                            </div>
                            <div class="col s12">
                                <span>{{ term.term_definition }}</span>
                            </div>
                            <div class="col s12">
                                <span>Score&#58; {% if term.score >= 20 %}<span class="superscore">{{ term.score }}</span>{% else %} <span class="score">{{ term.score }}</span> {% endif %}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row center-align view-full-dict">
                <div class="col s12">
                    <a href="{{ url_for('view_dictionary') }}" class="btn-large locate teal">View full dictionary</a>
                </div>
            </div>
        {% endif %}
    </div>
    {% if session.user %}
        <div class="container contributions-container">
            <div class="row">
                <div class="col s12">
                    <h2 class="contributions-heading center-align">Your last 5 entries</h2>
                </div>
            </div>
            {% for term in terms if term.created_by|lower == session.user|lower %}
                {% if loop.index <= 5 %}
                    <div class="term-wrapper card-panel">
                        <div class="row">
                            <div class="col s12 l3">
                                <span class="term-name"><strong>{{ term.term_name }}</strong></span>
                            </div>
                            <div class="col s12 l7">
                                <span>{{ term.term_definition }}</span>
                                <br>
                                <br>
                                <span>Last updated&#58; {{ term.created_on }}</span>
                            </div>
                            <div class="col s12 l2">
                                <a href="{{ url_for('edit_term', term_id=term._id) }}" class="btn-small blue">
                                    <i class="fas fa-edit tooltipped" data-tooltip="EDIT TERM"></i>
                                </a>
                                <a href="#{{ term._id }}" class="btn-small red modal-trigger">
                                    <i class="fas fa-trash-alt tooltipped" data-tooltip="DELETE TERM"></i>
                                </a>
                                <div id="{{ term._id }}" class="modal">
                                    <div class="modal-content center-align">
                                        <p>Are you sure you want to delete the term {{ term.term_name }}&#63;</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row center-align">
                                            <div class="col s12 m6">
                                                <a href="{{ url_for('home_page') }}" class="btn grey cancel">Cancel</a>
                                            </div>
                                            <div class="col s12 m6">
                                                <a href="{{ url_for('delete_term', term_id=term._id) }}" class="btn red delete-record">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="row center-align">
                <div class="col s12">
                    {% set total = [] %}
                    {% for term in terms if session.user|lower == term.created_by|lower %}
                        {% set i = term.contribution_value|int %}
                        {% if total.append(i) %}
                        {% endif %}
                    {% endfor %}
                    <p>
                        {% if total|sum > 0 %}
                            You have made {{ total|sum }} contribution{% if total|sum != 1 %}s{% endif %} to Fitipedia so far.
                        {% else %}
                            You haven&#8217;t made any contributions yet. Click below to add your first&#33;
                        {% endif %}
                    </p>
                </div>
            </div>            
            <div class="row center-align add-entry">
                <div class="col-s12">
                    <a href="{{ url_for('add_definition') }}" class="btn-large add green">
                        {% if total|sum > 0 %}
                            Add another&#33;
                        {% else %}
                            Add term
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}