{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align manage-users-heading">Manage Users</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h2 class="center-align registered-users">Currently registered users</h2>
            </div>
        </div>
        <!-- card for each registered user -->
        {% for user in users %}
            <div class="term-wrapper card-panel">
                <div class="row">
                    <div class="col s6 m3 l4 user-field">
                        <span class="tooltipped" data-tooltip="{{ user.username }}">{{ user.username }}</span>
                    </div>
                    <div class="col s6 m5 l4 user-field">
                        <span class="tooltipped" data-tooltip="{{ user.email_address }}">{{ user.email_address }}</span>
                    </div>
                    <!-- modal trigger to delete user -->
                    <div class="col s12 m4 l4 delete-user">
                        <a href="#{{ user._id }}" class="btn-small delete red modal-trigger">
                            <span>Delete User</span><i class="fas fa-trash-alt tooltipped" data-tooltip="DELETE USER"></i>
                        </a>
                        <!-- modal pop up for administrator to confirm user deletion -->
                        <div id="{{ user._id }}" class="modal center-align">
                            <div class="modal-content">
                                <p>Are you sure you want to delete the user {{ user.username }}&#63;</p>
                            </div>
                            <div class="modal-footer">
                                <div class="center-align">
                                    <a href="{{ url_for('manage_users') }}" class="btn grey">Cancel</a>
                                    <a href="{{ url_for('delete_user', user_id=user._id) }}" class="btn red ">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <!-- add new user button -->
        <div class="row add-entry center-align">
            <div class="col s12">
                <a href="{{ url_for('add_new_user') }}" class="btn-large add green">Add New User</a>
            </div>
        </div>
        <!-- legal notice about admin privileges -->
        <div class="admin-notice-container center-align">
            <div class="row">
                <div class="col s12">
                    <h3 class="center-align">Admin Privileges Notice</h3>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>An admin may delete another user from the database and therefore remove their access to the dictionary&#8217;s full functionality if their use of the dictionary is found to be inappropriate and not of the benefit to the site&#8217;s wider community. In exceptional circumstances, an admin may also delete a user&#8217;s account at the request of the user.</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>
                        An admin may add a user to the database in exceptional circumstances if the user is having issues signing up that are unable to be resolved and the user&#8217;s desired username and e-mail address are not already in use. In such circumstances, the admin will generate a random password for the user. It is recommended that the user changes this password immediately after logging in for the first time.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p>Those found to be abusing their admin privileges will have their admin rights removed with immediate effect.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}