{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align">{{ username }}&#8217;s Profile</h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <h5 class="center-align">My Account</h5>
            </div>
        </div>
        <!-- displays username and calculates number of user entries -->
        <div class="row center-align">
            <div class="col s12">
                <p>Username&#58; <span>{{ username }}</span></p>
                {% set total = [] %}
                {% for term in terms if session.user|lower == term.created_by|lower %}
                    {% set i = term.contribution_value|int %}
                    {% if total.append(i) %}
                    {% endif %}
                {% endfor %}
                <p>Total contributions&#58; {{ total|sum }}</p>
                <!-- update details button -->
                <a href="{{ url_for('update_profile', username=username) }}" class="btn-large edit blue">Update Details</a>
            </div>
        </div>
        <div class="contributions-container">
            <div class="row">
                <div class="col s12">
                    <h2 class="contributions-heading center-align">My contributions</h2>
                </div>
            </div>
            <!-- calculates user entries and distance from next milestone -->
            <div class="row center-align">
                <div class="col s12">
                    {% set total = [] %}
                    {% for term in terms if session.user|lower == term.created_by|lower %}
                        {% set i = term.contribution_value|int %}
                        {% if total.append(i) %}
                            {{ totals }}
                        {% endif %}
                    {% endfor %}
                    {% set user_contributions = total|sum %}
                    {% set legend_target = 20 %}
                    {% set remaining_required = legend_target - user_contributions %}
                    <p>
                        You have made {{ total|sum }} {% if user_contributions != 1 %} contributions {% else %} contribution {% endif %}  so far.<br>
                        {% if user_contributions < legend_target %} 
                            Make another {{ remaining_required }} {% if remaining_required > 1 %} contributions {% else %} contribution {% endif %} to reach legend status&#33; 
                        {% else %} 
                            Congratulations&#33; You have reached legend status&#33;
                        {% endif %}
                    </p>
                </div>
            </div>
            <!-- add term button -->
            <div class="row center-align add-entry">
                <div class="col-s12">
                    <a href="{{ url_for('add_definition') }}" class="btn-large add green">
                        {% if total|sum > 0 %}
                            Add another&#33;
                        {% else %}
                            Add term
                        {% endif %}
                    </a>
                </div>
            </div>
            <!-- list of each term created by user -->
            {% for term in terms %}
                {% if term.created_by|lower == session.user|lower %}
                    <div class="term-wrapper card-panel">
                        <div class="row">
                            <div class="col s12 l4">
                                <span class="term-name">{{ term.term_name }}</span>
                            </div>
                            <div class="col s12 l8">
                                <span>{{ term.term_definition }}</span>
                            </div>
                        </div>
                        <!-- edit and delete buttons -->
                        <div class="row">
                            <div class="col s6">
                                <a href="#{{ term._id }}" class="btn-small delete right red modal-trigger">
                                    <span>Delete term</span><i class="fas fa-trash-alt tooltipped" data-tooltip="DELETE TERM"></i>
                                </a>
                                <!-- modal pop up for user to confirm term deletion -->
                                <div id="{{ term._id }}" class="modal">
                                    <div class="modal-content center-align">
                                        <p>Are you sure you want to delete the term {{ term.term_name }}&#63;</p>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row center-align">
                                            <div class="col s12 m6">
                                                <a href="{{ url_for('profile', username=session['user']) }}" class="btn grey cancel">Cancel</a>
                                            </div>
                                            <div class="col s12 m6">
                                                <a href="{{ url_for('delete_term', term_id=term._id) }}" class="btn red delete-record">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6">
                                <a href="{{ url_for('edit_term', term_id=term._id) }}" class="btn-small edit blue">
                                    <span>Edit details</span><i class="fas fa-pen-square tooltipped" data-tooltip="EDIT DETAILS"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <!-- delete account section -->
        <div class="row">
            <div class="col s12">
                <h2 class="center-align">Delete Account</h2>
            </div>
        </div>
        <div class="row center-align">
            <div class="col s12">
                <h4>Delete the account for {{ username }}</h4>
            </div>
        </div>
        <!-- warning notice that deleted accounts cannot be restored -->
        <div class="row center-align">
            <div class="col s12">
                <p class="warning"><i class="fas fa-exclamation-triangle"></i> Warning&#33; This action cannot be undone&#33; You should only take this action if you are certain you want to delete your account.</p>
                <!-- delete account modal trigger -->
                <a class="btn-large delete red modal-trigger" href="#modal_account">Delete Account</a>
                <!-- modal pop up for user to confirm account deletion -->
                <div id="modal_account" class="modal">
                    <div class="modal-content">
                        <p>Are you sure you want to delete your account&#63;</p>
                        <p>This CANNOT be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <div class="row center-align">
                            <div class="col s12 m6">
                                <a href="{{ url_for('profile', username=session['user']) }}" class="btn grey cancel">Cancel</a>
                            </div>
                            <div class="col s12 m6">
                                <a href="{{ url_for('delete_account', username=username) }}" class="btn red delete-record">Delete Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}